

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
  }
  .logo{
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      justify-content: center;
      z-index: 10;
  }
  html {
   
    font-size: 62.5%;
    overflow-x: hidden;
  }
  header{
      background-color: rgb(236, 44, 92);
      height: 80px; 
      display: flex;
      align-items: center;
      padding: 0px 20px 0px 20px;
    }
  
  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .center 
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* OVERLAY */
  .overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100vw;
    height: 80px;
    background-color: rgb(0, 0, 0);
  }

  .overlay .nav-links{
    display: flex;
    list-style: none;
   position: absolute;
   left: 45%;
   top: 40%;
    text-transform: uppercase;
 

    }
    
    .overlay .nav-links li a{
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        margin: 0 19px;   
    }
    .overlay .nav-links li a:hover,
    .overlay .nav-links li a.active
     {
        color: #61DAFB;
    }
  
  
  
  
  /***********************/
  /* HAMBURGER MENU ANIMATION */
  /***********************/
  
  .hamburger-menu 
  {
      position: fixed;
      right: 25px;
      cursor: pointer;
      z-index: 10;
  }
  
  .menu-bar1,
  .menu-bar2,
  .menu-bar3 {
    width: 3.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.8rem 0;
    transition: 0.4s;
  }
  
  .menu-bar2 {
    width: 2rem;
    margin-left: auto;
  }
  
  /* ROTATE FIRST BAR */
  .active .menu-bar1 {
    /* transform: rotate(-45deg) translate(-7px, 8px); */
    transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
  }
  
  /* FADE OUT SECOND BAR */
  .active .menu-bar2 {
    opacity: 0;
  }
  
  /* ROTATE LAST BAR */
  .active .menu-bar3 {
    /* transform: rotate(45deg) translate(-6px, -8px); */
    transform: rotate(45deg) translate(-0.6rem, -0.8rem);
  }
   /* overlay animation*/
   .overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translatex(0);
  }
  
  .overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translatex(100vw);
  }
  
  /***********************/
  /* SECTION */
  /***********************/
  
  /* BELOW 832px (Tablets) */
  @media (max-width: 52em) {
    html {
      /* 8px / 16px = 0.5 = 50% */
      font-size: 50%;
    }
  }
  .active .menu-bar1 {
    /* transform: rotate(-45deg) translate(-7px, 8px); */
    transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
  }
  
  /* FADE OUT SECOND BAR */
  .active .menu-bar2 {
    opacity: 0;
  }
  
  /* ROTATE LAST BAR */
  .active .menu-bar3 {
    /* transform: rotate(45deg) translate(-6px, -8px); */
    transform: rotate(45deg) translate(-0.6rem, -0.8rem);
  }
  
 
  /* BELOW 600px (Phones) */
  @media (max-width: 37em) {
    .hamburger-menu {
      align-items: center;
      right: 2rem;
    }
    .logo {
      top: 1rem;
      left: 1rem;
    }
    h1
    {
      font-size: 2rem;
    }
  }
  