body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .container {
  
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
    position: relative;
  }
  
  main {
    flex: 1;
  }
  
  ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  
  .no-event {
    pointer-events: none;
  }
  
  /* # MENU # */
  
  .menu-container {
    height: 2rem;
  }
  
  .menu-list {
    display: flex;
    position: relative;
    flex-direction: column;
    left: -100%;
    align-items: center ;
    height: 80px;
    background-color: rgb(46, 0, 0);
    width: 100%;
    transition: all 0.3s linear;
    text-decoration: none;
  }
  h4{
      color: white;
      text-align: center;
  }
  .menu-list li {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }
  
  .menu-list a {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 1.2rem;
    padding: 5px 0;
    color: white;
    
  }
  
  .menu-list li a:hover {
    text-decoration: underline;
    background-color: rgb(37, 37, 37);
    color: brown;
  }
  
  .submenu-container {
    position: absolute;
    top: 68%;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.5);
    background-color: rgb(0, 0, 0);
    left: 200%;
    padding-top: 30px;
    padding-bottom: 20px;
    transition: all 0.3s linear;
    z-index: 10;
  }
  
  .menu-toggler {
    display: flex;
    height: 100%;
    cursor: pointer;
    padding: 0 10vw;
    padding-left: 1rem;
    background-color: #666;
    color: rgb(59, 0, 0);
  }
  
  /* # HAMBURGER # */
  
  .hamburger {
    background-color: #ccc;
    width: 30px;
    height: 3px;
    transition: all 0.3s linear;
    align-self: center;
    position: relative;
  }
  
  .hamburger::before,
  .hamburger::after {
    width: 30px;
    height: 3px;
    background-color: rgb(12, 12, 12);
    content: "";
    position: absolute;
    transition: all 0.3s linear;
  }
  
  .hamburger::before {
    top: -10px;
  }
  
  .hamburger::after {
    top: 10px;
  }
  
  /* # OPEN # */
  
  .open .hamburger {
    transform: rotate(-45deg);
  }
  
  .open .hamburger::before {
    transform: rotate(-90deg) translate(-10px, 0px);
  }
  
  .open .hamburger::after {
    opacity: 0;
    transform: rotate(90deg);
  }
  
  .open ~ .menu-list {
    left: 0;
  }
  
  .menu-list li .open {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  /* # SUBMENU OPEN # */
  
  .menu-list li .open.submenu-container {
    left: 0;
  }
  
  .newHeight {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  /* # DESKTOP # */
  
  @media (min-width: 800px) {
    .menu-toggler {
      display: none;
    }
  
    .menu-list {
      flex-direction: row;
      left: 0;
      transition: all 0s;
      position: relative;
    }
  
    .menu-list li:hover > a {
      background-color: rgb(238, 238, 238);
    }
  
    .menu-list li .open {
      display: none;
    }
  
    .menu-list li .submenu-container {
      left: 0;
      display: none;
    }
  
    .menu-list li:hover > .submenu-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
    }
  
    .menu-list li > .open div,
    .menu-list li:hover > .submenu-container div {
      flex: 1;
    }
  }
  