*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav_links li a:not(:only-child)::after {
    content: "»";
    font-size: 25px;
    position: absolute;
    top: -39%;
    right: 9%;
    display: inline-block;
  }
 
 
body{ 
    text-align: center;
    overflow-x: hidden;
    background-color: rgb(228, 228, 228);
}
nav{
    display: flex;
    align-items: center;
    background-color: rgb(60, 150, 145);
    color: white;
    padding: 0 30px 0 30px;
    height: 90px;
}
.nav_links{

    display: flex;
list-style: none;

justify-content: space-evenly;
text-transform: uppercase;
margin:auto;
text-align: center;
}
.nav_links li{
    position: relative;
}
.logo{
font-size: 23px;
font-weight: 500;
}
.nav_links li a{
    margin: 0 5px; 
    font-weight: 450;
    cursor: pointer;
    padding: 5px 20px;
}
.nav_links li a:hover{
   background-color: rgb(255, 255, 255);
   color:rgb(60, 150, 145);
}
.content{
    position: absolute;
    top: 40%;
    left: 39%;
    background-color: rgba(60, 150, 145, 0.363);
    padding: 25px;
}
.nav-dropdown{
    opacity: 0;
    list-style: none;
        position: absolute;
      background-color:rgb(60, 150, 145);
        z-index: 1;
     padding: 10px;
     margin-top: 10px;
        box-shadow: 0 3px 12px rgba(255, 255, 255, 0.15);
        clip-path: circle(50px at 90% -20%);
        transition: all 0.1s ease-out;
        pointer-events: none;
}
.nav-dropdown.open{
    clip-path: circle(1000px at 90% -10%);
    transition: all 0.1s ease-out;
    pointer-events: all;
    opacity: 100;
}
.nav-dropdown.close{
   
    opacity: 0;
}
.nav-dropdown li{
    opacity: 100;
}
.nav-dropdown li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}
.nav-dropdown li:nth-child(2){
    transition: all 0.5s ease 0.4s;
}
.nav-dropdown li:nth-child(3){
    transition: all 0.5s ease 0.6s;
}
.nav-dropdown li{
   margin-bottom: 10px;
}
.nav-dropdown li a{
    color: white;
   padding:5px 20px;
    text-transform: none;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}
li.fade{
    opacity: 100;
}


