*{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    color: rgb(31, 31, 31);
    font-family: sans-serif;
    font-weight: 300;
}
body{
    overflow-x: hidden;
}
nav{
padding: 0px 30px 0px 30px;
background-color: rgb(248, 248, 248);
height: 90px;
display: flex;
}

.logo{
  padding: 2vh 0vw; 
  text-align: center; 
}
.logo img{
    height: 4rem;
    width: 4rem;
}
.nav-links{
display: flex;
list-style: none;
align-items: center;
justify-content: space-evenly;
text-transform: uppercase;
margin: auto;
text-align: center;
}

.nav-links li a{
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px;   
}
.nav-links li a:hover,
.nav-links li a.active
 {
    color: #61DAFB;
}
.nav-links li {
position: relative;
}
.nav-links li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::after,.nav-links li a.active{
    width: 80%;
}


.buttons{
display: flex;
list-style: none;
align-items: center;
text-transform: uppercase;

}
.login-button{
    padding: 5px 15px 5px 15px;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    border: 1.5px solid #61DAFB ;
    border-radius: 50px;
}
.login-button:hover{
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.signup-button{
    padding: 5px 15px 5px 15px;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    border: 1.5px solid #61DAFB ;
    border-radius: 50px;
    margin-left: 10px; 
    
}
.signup-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.hamburger div{
    width: 30px;
    height:3px;
    background: #b9b9b9;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


/*Stying for small screens*/                                 

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
        width: 100%;
       }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 15%;
        top: 50%;
        transform: translate(-0%, -50%);
        z-index: 1;
        transition: all 0.7s ease;
    }
    .buttons{
        margin-left: 22px;
        display: flex;
        list-style: none;
        align-items: center;
        text-transform: uppercase;
        }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links li a{
        color: aliceblue;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}